.map-address-search{
  top:20px !important;
  left:calc(16px + min(235px, calc(100vw - 150px)) + 8px) !important;
  transform:none !important;
  transform-origin:top left !important;
}

.map-address-search.is-open{
  width:min(330px,calc(100vw - 300px)) !important;
}

@media(max-width:760px){
  .map-address-search{
    top:20px !important;
    left:calc(16px + min(235px, calc(100vw - 150px)) + 8px) !important;
  }
  .map-address-search.is-open{
    width:min(300px,calc(100vw - 150px)) !important;
    min-width:220px !important;
  }
}
